.calendar_date_select {
  width:195px;
  z-index: 1000;
}
/* this is a fun ie6 hack to get drop downs to stay behind the popup window.  This should always be just underneath .calendar_date_select */
iframe.ie6_blocker {
  position: absolute;
  z-index: 999;
}

.calendar_date_select thead th {
}

.calendar_date_select .cds_buttons {
}

.calendar_date_select .cds_body {
  margin-top: 10px;
}

.calendar_date_select .cds_footer {
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
}

.calendar_date_select .cds_header {
}

.calendar_date_select .cds_header span {
  font-weight: bold;
}

.calendar_date_select select { font-size:11px;}

.calendar_date_select .cds_header a:hover {
  color: white;
}
.calendar_date_select .cds_header a {
  width:22px;
  height:20px;
  text-decoration: none;
  font-size:14px;
  color:black !important;
}

.calendar_date_select .cds_header a.prev {
  float:left;
}
.calendar_date_select .cds_header a.next {
  float:right;
}

.calendar_date_select .cds_header a.close {
  float:right;
  display:none;
}

.calendar_date_select .cds_header select.month {
  width:90px;
}

.calendar_date_select .cds_header select.year {
  width:61px;
}
.calendar_date_select .cds_buttons a {
}

/* HACK for left edge borders when week starts on Monday */
.day, .dayName, .otherMonth {
	border-left: solid 1px #9b9b9d;
	border-bottom: solid 1px #9b9b9d;
	background-color:;
}                     

.otherMonth {
	color: #999;
}                                     

/* End Hack */

.calendar_date_select td { 
	border-left: solid 1px #9b9b9d;
}
.calendar_date_select td.weekend {
}

.calendar_date_select td div {
}
.calendar_date_select td div.other {
  color: #999;
  
}
.calendar_date_select td.weekend div.other {
  color: #999
}
.calendar_date_select td.selected div {
  color:white;
}

.calendar_date_select tbody td {
}
.calendar_date_select td.selected {
  background-color:#0072D2;
}

.calendar_date_select td:hover, .calendar_date_select td.weekend:hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
}

.calendar_date_select td.disabled div {
  color: #e6e6e6;
}

.fieldWithErrors .calendar_date_select {
  border: 2px solid red;
}
