

   <div class="demo">
   <div id="accordion">


<% @projects.each do |project| %>

   
   <h3><a href="#">Section 1</a></h3>

   <!-- <h3><%= link_to project.name, project %>

    <%= link_to 'Show', project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></h3>-->
  
  
          		<div>			

                         ESto es una lista


                       </div>

<% end %>

</div>
</div>



